.logoMain{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 20px;
}

.footerData {
    margin-left: 10px;
    color:wheat;
    font-size: 1em;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow:  2px 4px 2px #000000;
    align-items: center;
}
.tel{
    color: white
}