.opium {
    color: rgb(233, 221, 221);

    @media screen and (max-width: 768px) {
        // margin-bottom: 100px !important;
        padding-bottom: 100px !important;
        // border: 5px solid red;
    }
}

.opium__picture {

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 ;
        padding: 10px 0px;
    }
}

.opium_headPicture {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    
}
.opium_headPicture img {
    max-width: 900px;
    width: 50%;
    padding-bottom: 15px;
    padding-top: 5px;
}
.opium_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;

    
}
.opium_wrapper h2 {
    text-align: center;
    margin: 0;
}
.opium__text,
.opium__textBlock {
    text-align: justify;
    padding: 5px 20px 18px;
    margin: 0;
    font-size: 20px;

    @media screen and (max-width: 768px){
        flex-direction: column;
        text-align: left;
        letter-spacing: .5px;
        padding: 5px;
        word-wrap: normal;
    }
}
