.nav {
    background-color: rgba(0, 0, 0, .8);
    padding: 20px;
    border-radius: 0px;
    flex-direction: column;
}
.item {
    flex-direction: column;
}
.item a {
    color: wheat;
    font-size: 1.3em;
    text-decoration: none;
}
.item a.active {
    color: tomato;
}

.toggleWrap {
    flex-direction: column;
}

.linksWrapper {
    font-size: 16px;
    flex-direction: column;
}

.itemNarko{
    padding-left: 20px;

    a {
        color: wheat;
        text-decoration:none !important;

        &:hover {
            color: tomato;
        }
    }
        
}

.itemNarko a.active {
    color: tomato;
}