.ava {
    width: 10%;
}
.sliderContainer {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.sliderWrapper {
    margin: 0 auto;
    max-height: 90vh;
    min-height: 30vh;
    max-width: 1200px;
    min-width: 350px;
    width: 100%;
}

.mainPagePic {
    color: grey;
    margin: 0 auto;
    font-size: 1.5em;
}

// .MainPageContainerWrapper{
//     display: flex;
//     flex-direction: column;
// }

@media screen and (max-width: 1920px) {
    .sliderWrapper {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1600px) {
    .sliderWrapper {
        max-width: 1200px;
    }
}



@media screen and (max-width: 1280px) {
    .sliderWrapper {
        max-width: 700px;
    }
}

@media screen and (max-width: 1024px) {
    .sliderWrapper {
        max-width: 450px;
    }
}

@media screen and (max-width: 768px) {
    .sliderWrapper {
        max-height: 50vh;
        max-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .sliderWrapper {
        max-width: 900px;
    }
}


