.search {
    position: relative;
    width: 300px;
}
.magnifyingGlass {
    position: relative;
    transform: translateX(40%);
    transition: transform 500ms;
}
.search.active .magnifyingGlass {
    transform: translateX(-7%);
}
.magnifyingGlassPath {
    fill:none;
    stroke-dasharray: 210 808;
    stroke-linecap:round;
    stroke-width:6;
    stroke:#000;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
}
.search.active .magnifyingGlassPath {
    stroke-dasharray: 580 808;
    stroke-dashoffset: -224px;
}
.x {
    fill:none;
    stroke-dasharray: 56 92;
    stroke-dashoffset: -92px;
    stroke-linecap:round;
    stroke-width:6;
    stroke:#000;
    transition: stroke-dashoffset 500ms;
    visibility: hidden;
}
.search.active .x {
    visibility: visible;
}
.search.searching .x {
    stroke-dashoffset: 0;
}
.input {
    border: 0;
    font-size: 1.2em;
    left: 20px;
    outline: 0 !important;
    position: absolute;
    top: 4px;
}
.overlay {
    background: rgba(0,0,0,0);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: background 300ms;
}
.overlay1 {
    height: 64px;
    left: 110px;
    top: -10px;
    width: 64px;
}
.overlay2 {
    height: 38px;
    left: 240px;
    top: 0px;
    width: 38px;
}
.overlay:hover {
    background: rgba(0,0,0,0.08);
}
.search.active .overlay1 {
    visibility: hidden;
}
.search:not(.active) .overlay2,
.search:not(.searching) .overlay2 {
    visibility: hidden;
}