.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  &_wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    

    &_content {
      background-color: rgba(0, 0, 0, .9);
      border: 1px black solid;
      min-width: 350px;
      width: 100%;
    }

    &_header header {
      height: 70px;
      width: 100%;
    }
  }
}





