.app_wrapper {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-areas: 
  "h h"
  "n c"
  "a b";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 250px 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(.3fr, 1.7fr));
  // min-height: 95vh;
  // max-height: 100vh;
  /* grid-gap: 10px; */
}
.app_wrapper_content {
    grid-area: c;
    background-color: rgba(0, 0, 0, .9);
    border: 1px black solid
}




