.nav {
    grid-area: n;
    background-color: rgba(0, 0, 0, .8);
    /* background-image: url('https://s.yimg.com/uu/api/res/1.2/DdytqdFTgtQuxVrHLDdmjQ--~B/aD03MTY7dz0xMDgwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-11/7b5b5330-112b-11ea-a77f-7c019be7ecae'); */
    padding: 20px;
    /* width: calc(100%-70%); */
    border-radius: 3px;
    /* padding-right: 20px; */
}
.item {
    margin-bottom: 10px;
}
.item a {
    color: wheat;
    font-size: 1.3em;
    text-decoration: none;
}
.item a.active {
    color: tomato;
}

.itemNarko{
    padding-left: 20px;
}
.itemNarko>a {
    text-transform: capitalize;
    text-decoration: none;
    color: wheat;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.5ms;
}
.itemNarko>a:hover {
    color: tomato;
}