// .imgItem {
//     max-height: 650px;
//     min-height: 350px;
//     max-width: 1600px;
//     min-width: 300px;
// }

.slider {
    max-height: 650px;
    height: 100%;
    min-height: 30vh;
}

.imgItem {
    max-height: 650px;
    min-height: 350px;
    max-width: 100%;
    min-width: 1200px;
    // width: 100%;
    height: 100%;
}

@media screen and (max-width: 1920px) {
    .imgItem {
        
    }
}

@media screen and (max-width: 1600px) {
    .imgItem {
        min-width: 900px;
    }
}

@media screen and (max-width: 1440px) {
    .slider {
        height: 550px;
    }
    .imgItem {
        min-width: 700px;
    }
}

@media screen and (max-width: 1280px) {
    .slider {
        height: 550px;
    }
    .imgItem {
        max-width: 700px;
    }
}

@media screen and (max-width: 1024px) {
    .slider {
        height: 350px;
    }
    .imgItem {
        max-width: 450px;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        height: 350px;
    }
    .imgItem {
        // max-height: 350px;
        min-width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        height: 350px;
    }
    .imgItem {
        // max-height: 350px;
        max-width: 350px;
    }
}

