// .imgItem {
//     max-height: 650px;
//     min-height: 350px;
//     max-width: 1600px;
//     min-width: 300px;
// }
.slider {
    max-height: 90vh;
    height: 50vh;
    min-height: 30vh;
}

.imgItem {
    max-height: 650px;
    min-height: 350px;
    max-width: 1600px;
    min-width: 300px;
    width: 100%;
    height: 100%;
}